<header id="top">
  <div class="navbar-fixed-top" role="navigation">
      <div class="container header ">
          <nav role="navigation" aria-labelledby="block-shopmenu-menu" id="block-shopmenu">
              <ul class="menu-shop-menu">
                  <!-- <li class="menu-shop-menu__subitem">
                      <a href="#" class="menu-link menu-shop-menu__link">Change Dealer</a>
                  </li> -->
                  <li class="menu-shop-menu__subitem">
                      <a href="#" class="menu-link menu-shop-menu__link" (click)="logout()"><mat-icon style="vertical-align: middle;">exit_to_app</mat-icon>Logout</a>
                  </li>
              </ul>
          </nav>
      </div>
    <div class="navbar container no-container">
      <!-- Navbar Header -->

      <div class="navbar-header">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="../assets/images/fd-horz-logo.png" alt="Ford Direct" class="logo">
        </a>
      </div>
    </div>
  </div>
</header>
<!-- Header Ends -->

<section class="container-page  leftside-panel ">
  <div class="container">
    <div class="row">
      <form [formGroup]="dcoForm" (ngSubmit)="onFormSubmit(dcoForm.value)">
        <!-- Left Part Sidebar -->
        <div class="col-md-3 col-sm-3">
          <!-- Sidebar Begins -->
          <div class="sidebar">
            <div class="row">
              <h5>Active Placements</h5>
              <!-- Devider -->
              <div class="devider">
                <div class="devider-line-h devider-line-h-sea-green animated zoomIn visible" data-animation="zoomIn"
                     data-animation-delay="1000"></div>

              </div>

              <!-- Search Box Begins -->
              <div class="input-group animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="300">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-addon">
                  <a href="#">
                    <i class="fa fa-1x fa-search white"></i>
                  </a>
                </span>
              </div>

              <!-- Active Placements -->

              <div class="row active-projects">
                <div class="col-md-12 tabs accordion-after animated fadeInUp visible" data-animation="fadeInUp"
                     data-animation-delay="500">
                  <!-- Title -->

                  <!-- Accordion Inner Begins -->
                  <div id="accordion" class="panel-group faq-panel accordion" data-animated="fadeInUp">

                    <!-- Accordion campaings Begins -->
                    <div class="panel panel-default" *ngFor="let key of groupedDcoIds; index as i " [class.active]="selectedDcoIndex === i">
                    
                        <div class="panel-heading">
                            <!-- Title -->
                            <div href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="panel-active-projects" >
                                <label class="">Offer</label>
                                <span class="panel-title" (click)="selectDco(key, i)">
                                        <label class="">{{groupedDcos[key][0].make}} / {{groupedDcos[key][0].model}} / {{groupedDcos[key][0].year}}</label>
                                        <label class="">Zipcode: {{groupedDcos[key][0].postalcode}}</label>
                                </span>
                            </div>
                        </div>
                        <div class="panel-collapse collapse in" id="collapseOne">
                            <!-- Placements Section Begins -->
                            <div class="panel-body">
                                <div class="" *ngFor="let offer of groupedDcos[key]; index as o" >
                                    <div class="panel-project-heading active" *ngFor="let placement of offer.offers; index as p" [class.active]="selectedPlacement === placement.placementid" >
                                        <section class="panel-project-content" >
                                         <a (click)="selectPlacement(o, placement.placementid)">
                                            <label class="" >Placement ID</label>
                                            <div>
                                                <span class="text campaign-subtitle" style="display: inline;">{{placement.placementid}} ({{placement.size}})</span>
                                            </div>
                                         </a> 
                                        </section>
                
                                        <section  class="panel-project-trash">                           
                                            <a color="warn" (click)="deleteDco()"><mat-icon>delete</mat-icon></a>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Accordion Dco's Ends -->
  
                   
                  </div>
                  <!-- Accordion Inner Ends -->
                </div>
                <!-- Accordion Left Part Ends -->


              </div>
              <hr class="hr-style">
              <!-- Accordion Section Ends -->

            </div>

          </div>
          <!-- Sidebar Ends -->


        </div>

        <!-- Right Panel -->
        <div class="main-section col-md-8 col-sm-8">
        
            <div class="btn-group-justified">
                <div class="btn-group">
                  <button type="button" mat-raised-button [routerLink]="['/dco-create']"
                          class="btn button-color btn-primary">
                    <mat-icon>add</mat-icon>
                    Add Record
                  </button>
                </div>
                <div class="btn-group button-offer">
                  <button mat-raised-button type="button" [disabled]="!dcoForm.valid"
                          class="btn button-color btn-primary">
                    <mat-icon>save</mat-icon>
                    Save
                  </button>
                </div>
                <div class="btn-group">
            <button mat-raised-button color="primary" style="height: 36px;margin-left: 20px;">
               <angular2csv [data]="csvData" filename="test.csv" [options]="options"></angular2csv>
            </button>
            </div>
        </div>
    
        <div class="">
            <div class="devider-line-h devider-line-h-sea-green animated zoomIn visible" data-animation="zoomIn" data-animation-delay="1000"></div>
        </div>

        <div class="frames-container row">
                <div class="single-frame-container column col-md-4">
                  <div class="frames-titles">
                    <h5>Frame 1</h5>
                  </div>
                  <div class="single-frame-main">
                    <div class="frame-dealer-logo" id="logo1" >
                        <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                          <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                            <mat-form-field class="full-width" required>
                              <input matInput type="text" formControlName="logo1" (click)="openDialog(title, 'logo1', disc.controls['logo1'].value, '', i, false)">
                             </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="frame-background" >
                        <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                            <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value" (click)="openDialog(title, 'backgroundurl', disc.controls['backgroundurl'].value, '', i, false)">
                              <mat-form-field class="full-width" required>
                                <input type="hidden" matInput type="text" formControlName="backgroundurl" >
                               </mat-form-field>
                              </div>
                          </div>
                      <div class="frame-heading-text" id="heading1" >
                          <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                              <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                                <mat-form-field class="full-width" required>
                                  <textarea class="isBold" matInput type="text" formControlName="offerheadline1" (click)="openDialog(title, 'offerheadline1', disc.controls['offerheadline1'].value, '', i, true)"></textarea>
                                 </mat-form-field>
                                </div>
                            </div>
                      </div>
                      <div class="frame-vehicle-img" id="vehicle1" >
                          <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                              <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                                <mat-form-field class="full-width" required>
                                  <input matInput type="text" formControlName="vehicleimage1" (click)="openDialog(title, 'vehicleimage1', disc.controls['vehicleimage1'].value, '', i, false)">
                                 </mat-form-field>
                                </div>
                            </div>
                      </div>
                    </div>
                    <div class="frame-subheading1-text" id="subheading1" >
                        <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                            <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                              <mat-form-field class="full-width" required>
                                <input matInput type="text" formControlName="vehiclename1" (click)="openDialog(title, 'vehiclename1', disc.controls['vehiclename1'].value, '', i, false)">
                               </mat-form-field>
                              </div>
                          </div>
                    </div>
                    <div class="frame-cta" id="cta1" >
                        <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                            <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                              <mat-form-field class="full-width" required>
                                <input matInput type="text" formControlName="ctalabel1" (click)="openDialog(title, 'ctalabel1', disc.controls['ctalabel1'].value,  disc.controls['ctaurl1'].value, i, false)">
                                <input type="hidden" formControlName="ctaurl1"  id="CTAURL1" >
                               </mat-form-field>
                              </div>
                          </div>
                    </div>
                    <div class="frame-disclosure" id="disclosure1" >
                        <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                            <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                              <mat-form-field class="full-width" required>
                                <textarea matInput type="text" formControlName="disclosurecopy1" (click)="openDialog(title, 'disclosurecopy1', disc.controls['disclosurecopy1'].value, '', i, false)"></textarea>
                               </mat-form-field>
                              </div>
                          </div>
                    </div>
    
                  </div>
                </div>
                <div class="single-frame-container column col-md-4">
                  <div class="frames-titles">
                    <h5>Frame 2</h5>
                  </div>
                  <div class="single-frame-main">
                      <div class="frame-dealer-logo" id="logo2" >
                          <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                            <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                              <mat-form-field class="full-width" required>
                                <input matInput type="text" formControlName="logo2" (click)="openDialog(title, 'logo2', disc.controls['logo2'].value, '', i, false)">
                               </mat-form-field>
                              </div>
                          </div>
                      </div>
                      <div class="frame-background" >
                          <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                              <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value" (click)="openDialog(title, 'backgroundurl', disc.controls['backgroundurl'].value, '', i, false)">
                                <mat-form-field class="full-width" required>
                                  <input type="hidden" matInput type="text" formControlName="backgroundurl" >
                                 </mat-form-field>
                                </div>
                            </div>
                        <div class="frame-heading-text" id="heading2" >
                            <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                                <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                                  <mat-form-field class="full-width" required>
                                    <textarea class="isBold" matInput type="text" formControlName="offerheadline2" (click)="openDialog(title, 'offerheadline2', disc.controls['offerheadline2'].value, '', i, true)"></textarea>
                                   </mat-form-field>
                                  </div>
                              </div>
                        </div>
                        <div class="frame-vehicle-img" id="vehicle2" >
                            <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                                <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                                  <mat-form-field class="full-width" required>
                                    <input matInput type="text" formControlName="vehicleimage2" (click)="openDialog(title, 'vehicleimage2', disc.controls['vehicleimage2'].value, '', i, false)">
                                   </mat-form-field>
                                  </div>
                              </div>
                        </div>
                      </div>
                      <div class="frame-subheading1-text" id="subheading2" >
                          <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                              <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                                <mat-form-field class="full-width" required>
                                  <input matInput type="text" formControlName="vehiclename2" (click)="openDialog(title, 'vehiclename2', disc.controls['vehiclename2'].value, '', i, false)">
                                 </mat-form-field>
                                </div>
                            </div>
                      </div>
                      <div class="frame-cta" id="cta2" >
                          <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                              <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                                <mat-form-field class="full-width" required>
                                  <input matInput type="text" formControlName="ctalabel2" (click)="openDialog(title, 'ctalabel2', disc.controls['ctalabel2'].value,  disc.controls['ctaurl2'].value, i, false)">
                                  <input type="hidden" formControlName="ctaurl2"  id="CTAURL2" >
                                 </mat-form-field>
                                </div>
                            </div>
                      </div>
                      <div class="frame-disclosure" id="disclosure2" >
                          <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                              <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                                <mat-form-field class="full-width" required>
                                  <textarea matInput type="text" formControlName="disclosurecopy2" (click)="openDialog(title, 'disclosurecopy2', disc.controls['disclosurecopy2'].value, '', i, false)"></textarea>
                                 </mat-form-field>
                                </div>
                            </div>
                      </div>
      
                    </div>
    
                </div>
                <div class="single-frame-container column col-md-4">
                  <div class="frames-titles">
                    <h5>Frame 3</h5>
                  </div>
                  <div class="single-frame-main">
                      <div class="frame-dealer-logo" id="logo3" >
                          <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                            <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                              <mat-form-field class="full-width" required>
                                <input matInput type="text" formControlName="logo3" (click)="openDialog(title, 'logo3', disc.controls['logo3'].value, '', i, false)">
                               </mat-form-field>
                              </div>
                          </div>
                      </div>
                      <div class="frame-background" >
                          <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                              <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value" (click)="openDialog(title, 'backgroundurl', disc.controls['backgroundurl'].value, '', i, false)">
                                <mat-form-field class="full-width" required>
                                  <input type="hidden" matInput type="text" formControlName="backgroundurl" >
                                 </mat-form-field>
                                </div>
                            </div>
                        <div class="frame-heading-text" id="heading3" >
                            <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                                <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                                  <mat-form-field class="full-width" required>
                                    <textarea class="isBold" matInput type="text" formControlName="offerheadline3" (click)="openDialog(title, 'offerheadline3', disc.controls['offerheadline3'].value, '', i, true)"></textarea>
                                   </mat-form-field>
                                  </div>
                              </div>
                        </div>
                        <div class="frame-vehicle-img" id="vehicle3" >
                            <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                                <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                                  <mat-form-field class="full-width" required>
                                    <input matInput type="text" formControlName="vehicleimage3" (click)="openDialog(title, 'vehicleimage3', disc.controls['vehicleimage3'].value, '', i, false)">
                                   </mat-form-field>
                                  </div>
                              </div>
                        </div>
                      </div>
                      <div class="frame-subheading1-text" id="subheading3" >
                          <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                              <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                                <mat-form-field class="full-width" required>
                                  <input matInput type="text" formControlName="vehiclename3" (click)="openDialog(title, 'vehiclename3', disc.controls['vehiclename3'].value, '', i, false)">
                                 </mat-form-field>
                                </div>
                            </div>
                      </div>
                      <div class="frame-cta" id="cta3" >
                          <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                              <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                                <mat-form-field class="full-width" required>
                                  <input matInput type="text" formControlName="ctalabel3" (click)="openDialog(title, 'ctalabel3', disc.controls['ctalabel3'].value,  disc.controls['ctaurl3'].value, i, false)">
                                  <input type="hidden" formControlName="ctaurl3"  id="CTAURL3" >
                                 </mat-form-field>
                                </div>
                            </div>
                      </div>
                      <div class="frame-disclosure" id="disclosure3" >
                          <div formArrayName="offers"  *ngFor="let disc of rows.controls; let i = index;" >
                              <div [formGroupName]="i" class="placementArrayGroupItem" [class.visible]="selectedPlacement === disc.controls['placementid'].value">
                                <mat-form-field class="full-width" required>
                                  <textarea matInput type="text" formControlName="disclosurecopy3" (click)="openDialog(title, 'disclosurecopy3', disc.controls['disclosurecopy3'].value, '', i, false)"></textarea>
                                 </mat-form-field>
                                </div>
                            </div>
                      </div>
      
                    </div>
                </div>
        </div>
    </div>
 
  
    </form>
    </div>
    <!-- end container -->
  </div>
</section>


