<header id="top">
    <div class="navbar-fixed-top" role="navigation">
        <div class="navbar container no-container">
            <!-- Navbar Header -->
  
            <div class="navbar-header">
                <!-- Logo -->
                <a class="navbar-brand" href="#">
                    <img src="../assets/images/fd-horz-logo.png" alt="Ford Direct" class="logo">
                </a>
            </div>
        </div>
    </div>
  </header>
  <!-- Header Ends -->
  
  <section class="container-page  leftside-panel ">
    <div class="container">
    <div class="row">
    <form [formGroup]="dcoForm" (ngSubmit)="onFormSubmit(dcoForm.value)" >
        <!-- Left Part Sidebar -->
        <div class="col-md-3 col-sm-3">
          <!-- Sidebar Begins -->
          <div class="sidebar">
    
            <div class="row" style="display: none;">
                <mat-form-field class="full-width ">
                    <input matInput placeholder="Make *" formControlName="make" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!dcoForm.get('make').valid && dcoForm.get('make').touched">Please Select a Make</span>
                    </mat-error>
                </mat-form-field>
   
                <mat-form-field class="full-width ">
                    <input matInput placeholder="Model *" formControlName="model" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!dcoForm.get('model').valid && dcoForm.get('model').touched">Please Select Car Model</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width ">
                    <input matInput placeholder="Year *" formControlName="year" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!dcoForm.get('year').valid && dcoForm.get('year').touched">Please Select Car Year</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width ">
                    <input matInput placeholder="Zip Code *" formControlName="zipcode" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!dcoForm.get('zipcode').valid && dcoForm.get('zipcode').touched">Please Enter Zip Code</span>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width ">
                    <input matInput placeholder="Placement ID *" formControlName="placementid" [errorStateMatcher]="matcher">
                    <mat-error>
                        <span *ngIf="!dcoForm.get('placementid').valid && dcoForm.get('placementid').touched">Please Enter Placment ID</span>
                    </mat-error>
                </mat-form-field>

            </div>
            <!-- Categories -->
            <div class="row">
              <h5>Active Placements</h5>
              <!-- Devider -->
              <div class="devider">
                <div class="devider-line-h devider-line-h-sea-green animated zoomIn visible" data-animation="zoomIn" data-animation-delay="1000"></div>
  
              </div>
  
              <!-- Search Box Begins -->
              <div class="input-group animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="300">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-addon">
                  <a href="#">
                    <i class="fa fa-1x fa-search white"></i>
                  </a>
                </span>
              </div>
  
              <!-- Active Placements -->
  
              <div class="row active-projects">
                <div class="col-md-12 tabs accordion-after animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="500">
                  <!-- Title -->
  
                  <!-- Accordion Inner Begins -->
                  <div id="accordion" class="panel-group faq-panel accordion" data-animated="fadeInUp"  >
  
                    <!-- Accordion campaings Begins -->
                    <div class="panel panel-default" *ngFor="let key of dcos; index as i " [class.active]="selectedDcoIndex === i">
                    
                      <div class="panel-heading" >
                        <!-- Title -->
                        <div  data-toggle="collapse" class="panel-active-projects">
                            <label class="">Placement ID</label>
                          <span class="panel-title">
                            <a  (click)="selectDco(key, i)">{{key.placementid}}</a>
                          </span>
                          <label class="">{{key.make}} / {{key.model}} /  {{key.year}}</label>
                        </div>
   
                      </div>
  
                    </div>
                    <!-- Accordion campaings Ends -->
  
                   
                  </div>
                  <!-- Accordion Inner Ends -->
                </div>
                <!-- Accordion Left Part Ends -->
  
  
              </div>
              <hr class="hr-style">
              <!-- Accordion Section Ends -->
  
            </div>
  
          </div>
          <!-- Sidebar Ends -->
  
          <div class="button-row">
              <a mat-raised-button color="primary" [routerLink]="['/dco-create']">
                <mat-icon>add</mat-icon>
              </a>
              <button type="submit" [disabled]="!dcoForm.valid" mat-raised-button color="primary" style="height: 36px;margin-left: 20px;"><mat-icon>save</mat-icon></button>
            </div>
        </div>
  
        
        <!-- Right Part -->
        <div class="main-section col-md-8 col-sm-8">
  
            <div class="mainform" id="mainform">
   
                <div class="row" style="margin-left: 0;">
  
                
  
                <div class="">
                  <div class="devider-line-h devider-line-h-sea-green animated zoomIn visible" data-animation="zoomIn" data-animation-delay="1000"></div>
  
                </div>
  
                <div class="tabs-section col-md-12 pull-left tabs animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="500">
  
  
                </div>
  
              </div>
       
          </div>
        
  
        </div>
      <!-- end row -->
    </form>
    </div>
    <!-- end container -->
    </div>
  </section>


