<h2 mat-dialog-title>{{title}} {{label}}</h2>


<mat-dialog-content [formGroup]="form">

    <mat-form-field>

        <textarea [class.isBold]="isBold" matInput
            placeholder={{label}}
            formControlName="textvalue">
            </textarea>
    </mat-form-field>


    <mat-form-field class="urlinput" [class.visible]="label == 'ctalabel1' || label == 'ctalabel2' || label == 'ctalabel3'">

        <input matInput placeholder="URL Value"
            formControlName="urlvalue">

    </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button"
            (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary"
            (click)="save()">
        Save
    </button>

</mat-dialog-actions>