<header id="top">
  <div class="navbar-fixed-top" role="navigation">
      <div class="container header ">
          <nav role="navigation" aria-labelledby="block-shopmenu-menu" id="block-shopmenu">
              <ul class="menu-shop-menu">
                  <!-- <li class="menu-shop-menu__subitem">
                      <a href="#" class="menu-link menu-shop-menu__link">Change Dealer</a>
                  </li> -->
              </ul>
          </nav>
      </div>
    <div class="navbar container no-container">
      <!-- Navbar Header -->

      <div class="navbar-header">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
          <img src="../assets/images/fd-horz-logo.png" alt="Ford Direct" class="logo">
          <button type="button" (click)="logout()" class="btn btn-default navbar-btn"><mat-icon style="vertical-align: middle;">exit_to_app</mat-icon>Logout</button>
        </a>
      </div>
    </div>
  </div>
</header>
<!-- Header Ends -->

<section class="container-page  leftside-panel ">
  <div class="container">
    <div class="row">
      <form [formGroup]="dcoForm" (ngSubmit)="onFormSubmit(dcoForm.value)">
        <!-- Left Part Sidebar -->
        <div class="col-md-3 col-sm-3">
          <!-- Sidebar Begins -->
          <div class="sidebar">
            <div class="row" style="display: inline-block;">
              <h5>New Placement(s)</h5>
              <!-- Devider -->
              <div class="devider">
                <div class="devider-line-h devider-line-h-sea-green animated zoomIn visible" data-animation="zoomIn"
                     data-animation-delay="1000"></div>
              </div>
              <mat-form-field class="full-width ">
                <!-- <input matInput placeholder="Make *" formControlName="make" [errorStateMatcher]="matcher" >
                <mat-error>
                  <span *ngIf="!dcoForm.get('make').valid && dcoForm.get('make').touched">Please Select a Make</span>
                </mat-error> -->
                <mat-select placeholder="Make" formControlName="make" >
                  <mat-option *ngFor="let vehiclemake of vehiclemakes" [value]="vehiclemake.value" >
                    {{vehiclemake.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <span *ngIf="!dcoForm.get('make').valid && dcoForm.get('make').touched">Please Select a Make</span>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width ">
                <!-- <input matInput placeholder="Model *" formControlName="model" [errorStateMatcher]="matcher">
                <mat-error>
                  <span
                    *ngIf="!dcoForm.get('model').valid && dcoForm.get('model').touched">Please Select Car Model</span>
                </mat-error> -->
                <mat-select placeholder="Model" formControlName="model" (selectionChange)="onChangeResetFrame();">
                  <mat-option *ngFor="let vehiclemodel of vehiclemodels" [value]="vehiclemodel.value">
                    {{vehiclemodel.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error>
                    <span
                      *ngIf="!dcoForm.get('model').valid && dcoForm.get('model').touched">Please Select Car Model</span>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width ">
                <mat-select placeholder="Year *" formControlName="year" >
                  <mat-option *ngFor="let vehicleyearoption of vehicleyearoptions" [value]="vehicleyearoption.value" >
                    {{vehicleyearoption.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <span *ngIf="!dcoForm.get('year').valid && dcoForm.get('year').touched">Please Select The Year</span>
                </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width ">
                <input matInput placeholder="Zip Code *" formControlName="postalcode" [errorStateMatcher]="matcher">
                <mat-error>
                  <span
                    *ngIf="!dcoForm.get('postalcode').valid && dcoForm.get('postalcode').touched">Please Enter Zip Code</span>
                </mat-error>
              </mat-form-field>

             
              <div formArrayName="offers">
                  <div [formGroupName]="0">
                    <mat-form-field class="full-width " required>
                      <input matInput placeholder="Placement ID's * (Size: 300x600)" type="text" formControlName="placementid">
                    </mat-form-field>
                  </div>
                  <div [formGroupName]="1">
                    <mat-form-field class="full-width " required>
                      <input matInput placeholder="Placement ID's * (Size: 300X250)" type="text" formControlName="placementid">
                    </mat-form-field>
                  </div>
                  <div  formGroupName="2">
                    <mat-form-field class="full-width ">
                      <input matInput placeholder="Placement ID's (Size: 790x90)" type="text" formControlName="placementid">
                    </mat-form-field>
                  </div>
                  <div  formGroupName="3">
                    <mat-form-field class="full-width ">
                      <input matInput placeholder="Placement ID's (Size: 160x600)" type="text" formControlName="placementid">
                    </mat-form-field>
                  </div>
                  <div  formGroupName="4">
                    <mat-form-field class="full-width ">
                      <input matInput placeholder="Placement ID's (Size: 320x50)" type="text" formControlName="placementid">
                    </mat-form-field>
                  </div> 
                </div>
                
  
              </div>
            </div>
          <!-- Sidebar Ends -->
        </div>

        <!-- Right Panel -->
        <div class="main-section col-md-8 col-sm-8">
          <div class="btn-group-justified">
            <div class="btn-group">
              <button type="button" mat-raised-button type="submit" [disabled]="!dcoForm.valid"
                      class="btn button-color btn-primary">
                <mat-icon>save</mat-icon>
                Save
              </button>
            </div>
            <div class="btn-group button-offer">
              <button mat-raised-button type="button" [disabled]="!dcoForm.valid"
                      (click)="offerInfo(template,dcoForm.value)" class="btn button-color btn-primary">
                <mat-icon>check_circle_outline</mat-icon>
                Select Offer
              </button>
            </div>
          </div>
          <div class="">
            <div class="devider-line-h devider-line-h-sea-green animated zoomIn visible" data-animation="zoomIn"
                 data-animation-delay="1000"></div>
          </div>
         <div class="frames-container row">
            <div class="single-frame-container column col-md-4">
              <div class="frames-titles">
                <h5>Frame 1</h5>
              </div>
              <div class="single-frame-main">
                <div class="frame-dealer-logo" id="logo1" >
                    <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                      <div [formGroupName]="i" class="placementArrayGroupItem-hide" >
                        <mat-form-field class="full-width" required>
                          <input matInput type="text" formControlName="logo1" (click)="openDialog(title, 'logo1', disc.controls['logo1'].value, '', i, false)">
                         </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="frame-background" >
                    <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                        <div [formGroupName]="i" class="placementArrayGroupItem-hide"  (click)="openDialog(title, 'backgroundurl', disc.controls['backgroundurl'].value, '', i, false)">
                          <mat-form-field class="full-width" required>
                            <input type="hidden" matInput type="text" formControlName="backgroundurl" >
                           </mat-form-field>
                          </div>
                      </div>
                  <div class="frame-heading-text" id="heading1" >
                      <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                          <div [formGroupName]="i"  class="placementArrayGroupItem">
                            <mat-form-field class="full-width" required >
                              <textarea class="isBold" matInput type="text" formControlName="offerheadline1" (click)="openDialog(title, 'offerheadline1', disc.controls['offerheadline1'].value, '', i, true)"></textarea>
                             </mat-form-field>
                            </div>
                        </div>
                  </div>
                  <div class="frame-vehicle-img" id="vehicle1" >
                      <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                          <div [formGroupName]="i" class="placementArrayGroupItem-hide" >
                            <mat-form-field class="full-width" required>
                              <input matInput type="text" formControlName="vehicleimage1" (click)="openDialog(title, 'vehicleimage1', disc.controls['vehicleimage1'].value, '', i)">
                             </mat-form-field>
                            </div>
                        </div>
                  </div>
                </div>
                <div class="frame-subheading1-text" id="subheading1" >
                    <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                        <div [formGroupName]="i" class="placementArrayGroupItem" >
                          <mat-form-field class="full-width" required>
                            <input matInput type="text" formControlName="vehiclename1" (click)="openDialog(title, 'vehiclename1', disc.controls['vehiclename1'].value, '', i, false)">
                           </mat-form-field>
                          </div>
                      </div>
                </div>
                <div class="frame-cta" id="cta1" >
                    <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                        <div [formGroupName]="i" class="placementArrayGroupItem">
                          <mat-form-field class="full-width" required>
                            <input matInput type="text" formControlName="ctalabel1" (click)="openDialog(title, 'ctalabel1', disc.controls['ctalabel1'].value,  disc.controls['ctaurl1'].value, i, false)">
                            <input type="hidden" formControlName="ctaurl1"  id="CTAURL1" >
                           </mat-form-field>
                          </div>
                      </div>
                </div>
                <div class="frame-disclosure" id="disclosurecopy1" >
                    <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                        <div [formGroupName]="i" class="placementArrayGroupItem" >
                          <mat-form-field class="full-width" required>
                            <textarea matInput type="text" formControlName="disclosurecopy1" (click)="openDialog(title, 'disclosurecopy1', disc.controls['disclosurecopy1'].value, '', i, false)"></textarea>
                           </mat-form-field>
                          </div>
                      </div>
                </div>

              </div>
            </div>
            <div class="single-frame-container column col-md-4">
              <div class="frames-titles">
                <h5>Frame 2</h5>
              </div>
              <div class="single-frame-main">
                  <div class="frame-dealer-logo" id="logo2" >
                      <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                        <div [formGroupName]="i" class="placementArrayGroupItem-hide" >
                          <mat-form-field class="full-width" required>
                            <input matInput type="text" formControlName="logo2" (click)="openDialog(title, 'logo2', disc.controls['logo2'].value, '', i, false)">
                           </mat-form-field>
                          </div>
                      </div>
                  </div>
                  <div class="frame-background" >
                      <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                          <div [formGroupName]="i" class="placementArrayGroupItem-hide"  (click)="openDialog(title, 'backgroundurl', disc.controls['backgroundurl'].value, '', i, false)">
                            <mat-form-field class="full-width" required>
                              <input type="hidden" matInput type="text" formControlName="backgroundurl" >
                             </mat-form-field>
                            </div>
                        </div>
                    <div class="frame-heading-text" id="heading2" >
                        <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                            <div [formGroupName]="i" class="placementArrayGroupItem" >
                              <mat-form-field class="full-width" required>
                                <textarea class="isBold" matInput type="text" formControlName="offerheadline2" (click)="openDialog(title, 'offerheadline2', disc.controls['offerheadline2'].value, '', i, true)"></textarea>
                               </mat-form-field>
                              </div>
                          </div>
                    </div>
                    <div class="frame-vehicle-img" id="vehicle2" >
                        <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                            <div [formGroupName]="i" class="placementArrayGroupItem-hide" >
                              <mat-form-field class="full-width" required>
                                <input matInput type="text" formControlName="vehicleimage2" (click)="openDialog(title, 'vehicleimage2', disc.controls['vehicleimage2'].value, '', i, false)">
                               </mat-form-field>
                              </div>
                          </div>
                    </div>
                  </div>
                  <div class="frame-subheading1-text" id="subheading2" >
                      <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                          <div [formGroupName]="i" class="placementArrayGroupItem" >
                            <mat-form-field class="full-width" required>
                              <input matInput type="text" formControlName="vehiclename2" (click)="openDialog(title, 'vehiclename2', disc.controls['vehiclename2'].value, '', i, false)">
                             </mat-form-field>
                            </div>
                        </div>
                  </div>
                  <div class="frame-cta" id="cta2" >
                      <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                          <div [formGroupName]="i" class="placementArrayGroupItem" >
                            <mat-form-field class="full-width" required>
                              <input matInput type="text" formControlName="ctalabel2" (click)="openDialog(title, 'ctalabel2', disc.controls['ctalabel2'].value,  disc.controls['ctaurl2'].value, i, false)">
                              <input type="hidden" formControlName="ctaurl2"  id="CTAURL1" >
                             </mat-form-field>
                            </div>
                        </div>
                  </div>
                  <div class="frame-disclosure" id="disclosurecopy2" >
                      <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                          <div [formGroupName]="i" class="placementArrayGroupItem" >
                            <mat-form-field class="full-width" required>
                              <textarea matInput type="text" formControlName="disclosurecopy2" (click)="openDialog(title, 'disclosurecopy2', disc.controls['disclosurecopy2'].value, '', i, false)"></textarea>
                             </mat-form-field>
                            </div>
                        </div>
                  </div>
  
                </div>

            </div>
            <div class="single-frame-container column col-md-4">
              <div class="frames-titles">
                <h5>Frame 3</h5>
              </div>
              <div class="single-frame-main">
                  <div class="frame-dealer-logo" id="logo3" >
                      <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                        <div [formGroupName]="i" class="placementArrayGroupItem-hide" >
                          <mat-form-field class="full-width" required>
                            <input matInput type="text" formControlName="logo3" (click)="openDialog(title, 'logo3', disc.controls['logo3'].value, '', i, false)">
                           </mat-form-field>
                          </div>
                      </div>
                  </div>
                  <div class="frame-background" >
                      <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                          <div [formGroupName]="i" class="placementArrayGroupItem-hide"  (click)="openDialog(title, 'backgroundurl', disc.controls['backgroundurl'].value, '', i, false)">
                            <mat-form-field class="full-width" required>
                              <input type="hidden" matInput type="text" formControlName="backgroundurl" >
                             </mat-form-field>
                            </div>
                        </div>
                    <div class="frame-heading-text" id="heading3" >
                        <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                            <div [formGroupName]="i" class="placementArrayGroupItem" >
                              <mat-form-field class="full-width" required>
                                <textarea class="isBold" matInput type="text" formControlName="offerheadline3" (click)="openDialog(title, 'offerheadline3', disc.controls['offerheadline3'].value, '', i, true)"></textarea>
                               </mat-form-field>
                              </div>
                          </div>
                    </div>
                    <div class="frame-vehicle-img" id="vehicle3" >
                        <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                            <div [formGroupName]="i" class="placementArrayGroupItem-hide" >
                              <mat-form-field class="full-width" required>
                                <input matInput type="text" formControlName="vehicleimage3" (click)="openDialog(title, 'vehicleimage3', disc.controls['vehicleimage3'].value, '', i, false)">
                               </mat-form-field>
                              </div>
                          </div>
                    </div>
                  </div>
                  <div class="frame-subheading1-text" id="subheading3" >
                      <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                          <div [formGroupName]="i" class="placementArrayGroupItem" >
                            <mat-form-field class="full-width" required>
                              <input matInput type="text" formControlName="vehiclename3" (click)="openDialog(title, 'vehiclename3', disc.controls['vehiclename3'].value, '', i, false)">
                             </mat-form-field>
                            </div>
                        </div>
                  </div>
                  <div class="frame-cta" id="cta3" >
                      <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                          <div [formGroupName]="i" class="placementArrayGroupItem" >
                            <mat-form-field class="full-width" required>
                              <input matInput type="text" formControlName="ctalabel3" (click)="openDialog(title, 'ctalabel3', disc.controls['ctalabel3'].value,  disc.controls['ctaurl3'].value, i, false)">
                              <input type="hidden" formControlName="ctaurl3"  id="CTAURL3" >
                             </mat-form-field>
                            </div>
                        </div>
                  </div>
                  <div class="frame-disclosure" id="disclosurecopy3" >
                      <div formArrayName="offers"  *ngFor="let disc of rows.controls | slice:0:1; let i = index;" >
                          <div [formGroupName]="i" class="placementArrayGroupItem" >
                            <mat-form-field class="full-width" required>
                              <textarea matInput type="text" formControlName="disclosurecopy3" (click)="openDialog(title, 'disclosurecopy3', disc.controls['disclosurecopy3'].value, '', i, false)"></textarea>
                             </mat-form-field>
                            </div>
                        </div>
                  </div>
  
                </div>
            </div>
        </div>
        </div>


        <ng-template #template >
          <div class="modal-header" >
            <i class="fa fa-credit-card" aria-hidden="true"></i> <h6 class="modal-title pull-left">Select Offer</h6>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form>
            <div class="modal-body">
              <h4><strong>{{submittedData.year}} {{submittedData.make}} {{submittedData.model}}
                ({{submittedData.postalcode}})</strong></h4>
              <ngx-slick-carousel class="carousel"
                                  #slickModal="slick-carousel"
                                  [config]="slideConfig" width="100%">
                <div ngxSlickItem *ngFor="let slide of offer; let i = index;" class="slide" width="100%">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title class="titleRecord">{{slide.Campaign.StartDate | date:'mediumDate' }} -
                        {{slide.Campaign.EndDate | date:'mediumDate'}}
                      </mat-card-title>
                      <mat-card-subtitle>{{slide.Campaign.CampaignType}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p [innerHtml]="slide.Campaign.Name | safeHtml"></p>
                      <br>
                      <div [innerHtml]="slide.Campaign.Detail | safeHtml"></div>

                    </mat-card-content>
                    <mat-card-actions>
                      <mat-checkbox class="example-margin"  id="checkOffer{{i}}"  name="slideChecked" [checked]="selected === i" (change)="selected = i" (click) = "clickOffer(i)"></mat-checkbox>
                      <p class="detail" tooltip="{{slide.Campaign.Disclaimer}}"> &#9432; Offer Details</p>
                    </mat-card-actions>
                  </mat-card>

                </div>
              </ngx-slick-carousel>
            </div>
            <div class="modal-footer">
              <button mat-stroked-button color="primary" id="dataOffer" (click)="modalRef.hide()">
                Done
              </button>
            </div>
          </form>
        </ng-template>

     

        <!-- end form -->
      </form>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
</section>
