<header id="top">
  <div class="navbar-fixed-top" role="navigation">
      <div class="navbar container no-container">
          <!-- Navbar Header -->

          <div class="navbar-header">
              <!-- Logo -->
              <a class="navbar-brand" href="#">
                  <img src="../assets/images/fd-horz-logo.png" alt="Ford Direct" class="logo">
              </a>
          </div>
      </div>
  </div>
</header>
<!-- Header Ends -->

<section class="container-page  leftside-panel ">
  <div class="container">
  <div class="row">
  <form [formGroup]="dcoForm" (ngSubmit)="onFormSubmit(dcoForm.value)" >
      <!-- Left Part Sidebar -->
      <div class="col-md-3 col-sm-3">
        <!-- Sidebar Begins -->
        <div class="sidebar">
  
          <div class="row" style="display: inline-block;">
              <mat-form-field class="full-width ">
                  <input matInput placeholder="Make *" formControlName="make" [errorStateMatcher]="matcher">
                  <mat-error>
                      <span *ngIf="!dcoForm.get('make').valid && dcoForm.get('make').touched">Please Select a Make</span>
                  </mat-error>
              </mat-form-field>
 
              <mat-form-field class="full-width ">
                  <input matInput placeholder="Model *" formControlName="model" [errorStateMatcher]="matcher">
                  <mat-error>
                      <span *ngIf="!dcoForm.get('model').valid && dcoForm.get('model').touched">Please Select Car Model</span>
                  </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width ">
                  <input matInput placeholder="Year *" formControlName="year" [errorStateMatcher]="matcher">
                  <mat-error>
                      <span *ngIf="!dcoForm.get('year').valid && dcoForm.get('year').touched">Please Select Car Year</span>
                  </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width ">
                  <input matInput  placeholder="Zip Code *" formControlName="zipcode" [errorStateMatcher]="matcher">
                  <mat-error>
                      <span *ngIf="!dcoForm.get('zipcode').valid && dcoForm.get('zipcode').touched">Please Enter Zip Code</span>
                  </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width ">
                  <input matInput placeholder="Placement ID * (Size: 300x600)" formControlName="placementid" [errorStateMatcher]="matcher">
                  <mat-error>
                      <span *ngIf="!dcoForm.get('placementid').valid && dcoForm.get('placementid').touched">Please Enter Placment ID</span>
                  </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width ">
                <input matInput placeholder="Placement ID * (Size: 300X250)" formControlName="placementid" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!dcoForm.get('placementid').valid && dcoForm.get('placementid').touched">Please Enter Placment ID</span>
                </mat-error>
        
              </mat-form-field>

              <mat-form-field class="full-width ">
                <input matInput placeholder="Placement ID * (Size: 790x90)" formControlName="placementid" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!dcoForm.get('placementid').valid && dcoForm.get('placementid').touched">Please Enter Placment ID</span>
                </mat-error>
             
              </mat-form-field>

              <mat-form-field class="full-width ">
                <input matInput placeholder="Placement ID * (Size: 160x600)" formControlName="placementid" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!dcoForm.get('placementid').valid && dcoForm.get('placementid').touched">Please Enter Placment ID</span>
                </mat-error>
        
              </mat-form-field>

              <mat-form-field class="full-width ">
                <input matInput placeholder="Placement ID * (Size: 320x50)" formControlName="placementid" [errorStateMatcher]="matcher">
                <mat-error>
                    <span *ngIf="!dcoForm.get('placementid').valid && dcoForm.get('placementid').touched">Please Enter Placment ID</span>
                </mat-error>
              </mat-form-field>

          </div>
          <!-- Categories -->
    

        </div>
        <!-- Sidebar Ends -->


      </div>

      
      <!-- Right Part -->
      <div class="main-section col-md-8 col-sm-8">

          <div class="mainform" id="mainform">
 
              <div class="row" style="margin-left: 0;">

              

              <div class="">
                <div class="devider-line-h devider-line-h-sea-green animated zoomIn visible" data-animation="zoomIn" data-animation-delay="1000"></div>

              </div>

              <div class="tabs-section col-md-12 pull-left tabs animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="500">


              </div>

            </div>
     
        </div>
      

      </div>
      <div class="button-row">
        <button type="submit" [disabled]="!dcoForm.valid" mat-raised-button color="primary">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    <!-- end row -->
  </form>
  </div>
  <!-- end container -->
  </div>
</section>
